-e git+git@github.com:tcstewar/ccmsuite.git@7bc759b355a1e623add73954657d561a2b4395ea#egg=CCMSuite-dev/vision
CairoSVG==1.0.4
Cython==0.19.2
Django==1.6.5
Flask==0.10.1
GDAL==1.9.0
GnuPGInterface==0.3.2
GraphLab-Create==0.3.0
Jinja2==2.7.1
Mako==0.8.1
Markdown==2.3.1
MarkupSafe==0.15
NEURON==7.3
PAM==0.4.2
Pillow==2.0.0
PsychoPy==1.78.01
PyAudio==0.2.7
PyNN==0.8beta1
PyOpenGL==3.0.1
PyYAML==3.10
Pygments==1.6
SecretStorage==1.0.0
Twisted-Core==13.0.0
Twisted-Names==13.0.0
Twisted-Web==13.0.0
UniConvertor==1.1.4
VTK==5.8.0
Werkzeug==0.9.4
adium-theme-ubuntu==0.3.3
apptools==4.1.0
apt-xapian-index==0.45
argparse==1.2.1
astroid==1.0.1
backports.ssl-match-hostname==3.4.0.2
boto==2.24.0
brian==1.4.1
bzr==2.6.0
catkin==0.4.4
catkin-pkg==0.1.12
chardet==2.0.1
command-not-found==0.3
configglue==1.1.2
configobj==4.7.2
cov-core==1.7
-e hg+ssh://hg@bitbucket.org/ned/coveragepy@a621660fa6e671477500b723a8ead869c0bdfea5#egg=coverage-dev
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
distribute==0.6.37
docopt==0.6.1
dulwich==0.9.0
duplicity==0.6.21
empy==3.1
envisage==4.1.0
expyriment==0.7.0
fastimport==0.9.2
gevent==1.0
globs==0.2
greenlet==0.4.2
-e git+git@github.com:joeyespo/grip.git@3fbf767ef7372c0b0e89edd5fe87b3eec5abb269#egg=grip-master
httplib2==0.8
ipython==0.13.2
itsdangerous==0.23
jockey==0.9.7
jsonpickle==0.6.1
keyring==1.6
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lazyarray==0.2.2
libNeuroML==0.1.9.1
librato-metrics==0.4.9
lockfile==0.8
logilab-common==0.61.0
-e git+git@github.com:napratin/lumos.git@e4bb5af697ea4383c87b961cd1bd7ad8c62d0466#egg=lumos-master
lxml==3.2.0
matplotlib==1.3.1
mayavi==4.1.0
mercurial==2.6.3
mixpanel-py==3.1.1
msgpack-python==0.4.2
-e git+git@github.com:napratin/nap.git@0face124cadf792b2048c324eae4da54d2087ad5#egg=nap-master
neo==0.3.1
netifaces==0.8
nose==1.3.0
numexpr==2.2.2
numpy==1.8.0
oauth==1.0.1
oauthlib==0.5.1
oneconf==0.3.5
openpyxl==1.5.8
opensesame==0.27.2
openshot==1.4.3
pandas==0.13.1
paramiko==1.10.1
path-and-address==0.2.0
pep8==1.4.6
pexpect==2.4
piston-mini-client==0.7.5
protobuf==2.4.1
psutil==1.1.3
psychopy-ext==0.5.1.2
py==1.10.0
pyOpenSSL==0.13
pycrypto==2.6
pycups==1.9.63
pycurl==7.19.0
pydot==1.0.2
pyface==4.1.0
pygame==1.9.1release
pyglet==1.1.4
pyglfw==0.1.0
pygobject==3.10.0
pygpgme==0.3
pyinotify==0.9.3
pylint==1.1.0
pymongo==2.6.3
pyo==0.6.6
pyopencl==2013.2
pyparsing==2.0.1
-e git+git@github.com:pyqtgraph/pyqtgraph.git@0045863165fe526988c58cf4f8232ae2d261a5ee#egg=pyqtgraph-origin/develop
pyserial==2.6
pysmbc==1.0.13
pytest==2.4.2
pytest-cov==1.6
python-apt==0.8.9.1ubuntu1
python-dateutil==2.2
python-debian==0.1.21-nmu2ubuntu1
pytools==2013.5.7
pytz==2012c
pyxdg==0.25
pyzmq==14.0.1
quantities==0.10.1
rabbitvcs==0.15.3
reportlab==2.6
requests==1.2.3
rhythmbox-ubuntuone==13.10
rosdep==0.10.18
rosdistro==0.2.8
rosinstall==0.6.19
rospkg==1.0.6
scipy==0.13.1
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.3.0
simpy==3.0.2
six==1.5.2
smbus==1.1
software-center-aptd-plugins==0.0.0
ssh-import-id==3.19
svgwrite==1.1.3
sympy==0.7.3
system-service==0.1.6
tables==3.0.0
tornado==3.2
traits==4.3.0
traitsui==4.3.0
ubuntuone-storage-protocol==13.10
unity-lens-photos==1.0
urllib3==1.6
vboxapi==1.0
vcstools==0.1.22
wadllib==1.3.2
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==3.6.1
xkit==0.0.0
-e git+git@github.com:dotcloud/zerorpc-python.git@1dee8bdb1ce78ee792cb4b46a47d894e70f26cb6#egg=zerorpc-master
zope.interface==4.0.5
